.someClass {

}

.good {
    border: 2px blue solid;
    border-radius: 5px;
}

.onFocus:focus {
    border: 2px blue solid;
    border-radius: 5px;
}

.error {
    border: 2px solid red;
    border-radius: 5px;

}